<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<a href="/">back</a>
<div th:if="${session.signupstate=='2'}">
    This username is already used.
</div>

<h1>Sign up</h1>
<form action="#" th:action="@{/signup}" th:object="${signup}" method="post">
    <p>name: <input type="text" th:field="*{name}" /></p>
    <p>password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>